$primary-color :#CC3439;
$primary-color-contrast :rgb(230, 94, 98);
$secondary-color : #151832;
$secondary-color-contrast :#343963;
$paper-color:white;
$paper-color-contrast:rgb(194, 194, 194);
$paper-color-shadow:rgb(100, 100, 100);