@import "./animate";
@import "./variables";
@import "./mixins.scss";

* {
    position: relative;
    -webkit-user-drag: none;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    box-sizing: border-box;
}

input,
input:before,
input:after {
    -o-user-select: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.tres-puntos {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

a {
    color: $blue;
    text-decoration-style: none;
    text-decoration: none;
}

.scroll {
    overflow: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background-color: $white;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $blue;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &::-webkit-resizer {
        display: none;
    }
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.canvas-overlay {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

body {
    color: $black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;

    &>#__next {
        width: 100%;
        height: 100%;

        &>main {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
}


[icon="ig"] {
    mask: url('/assets/img/ig.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/ig.svg') center / contain no-repeat;
}

[icon="fb"] {
    mask: url('/assets/img/fb.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/fb.svg') center / contain no-repeat;
}

[icon="be"] {
    mask: url('/assets/img/be.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/be.svg') center / contain no-repeat;
}

[icon="git"] {
    mask: url('/assets/img/git.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/git.svg') center / contain no-repeat;
}

[icon="cf"] {
    mask: url('/assets/img/cf.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/cf.svg') center / contain no-repeat;
}

[icon="tg"] {
    mask: url('/assets/img/tg.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/tg.svg') center / contain no-repeat;
}

[icon="ws"]:before {
    mask: url('/assets/img/ws.svg') center / contain no-repeat;
    -webkit-mask: url('/assets/img/ws.svg') center / contain no-repeat;
}



.whatsapp-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    left: 30px;
    bottom: 30px;
    border-radius: 100px;
    z-index: 100;
    background: #00db12;
}

.whatsapp-btn::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: white;
}




.progress {
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: var(--bar-width);
    }
}

@keyframes rotateLeftAnimate {
    from {
        @include rotateFrom(359deg);
    }

    to {
        @include rotateTo(0deg);
    }
}

@keyframes rotateRightAnimate {
    from {
        @include rotateFrom(0deg);
    }

    to {
        @include rotateTo(359deg);
    }
}

@keyframes swishAnimate {

    50% {
        background-position: 0% 0%;
    }

    50.01% {
        background-position: 2800% 100%;
    }

    100% {
        background-position: 0% 100%;
    }
}