@import "sass/variables";


.info {
    margin-bottom: 20px;
    width: -webkit-fill-available;
    min-width: 200px;
    max-width: 450px;
    height: min-content;
    padding: 20px;
    padding-top: 40px;
    border: 6px solid $black;
    border-radius: 15px;

    &>.swish {
        position: absolute;
        right: -140px;
        bottom: -120px;
        width: 220px;
        height: 380px;

    }

    &>.logo {
        position: absolute;
        left: 20px;
        top: -39px;
        width: 220px;
        height: 70px;
        background-image: url('../img/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;
    }

    &>.description {
        text-align: justify;
        padding-bottom: 10px;
    }
}

.email {
    max-width: 450px;
    height: min-content;
    margin-bottom: 40px;
    color: $blue;

    &::after {
        content: "";
        position: absolute;
        left: -30px;
        top: -4px;
        width: 27px;
        height: 24px;
        background-color: $blue;
        mask: url('../img/mail.svg') center / contain no-repeat;
        -webkit-mask: url('../img/mail.svg') center / contain no-repeat;
    }
}