@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.social {
    position: absolute;
    right: -35px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    &>.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        transition: 0.5s;
        margin-bottom: 60px;
        border-radius: 100%;
        background-color: $black;
        cursor: pointer;

        &:hover {
            &>span {
                background-color: $black;
            }

            background-color: $white;
        }

        &>span {
            width: 50px;
            height: 50px;
            transition: 0.5s;
            border-radius: 100%;
            background-color: $white;
        }

        &>.ig {
            mask: url('/assets/img/ig.svg') center / contain no-repeat;
            -webkit-mask: url('/assets/img/ig.svg') center / contain no-repeat;
        }

        &>.fb {
            mask: url('/assets/img/fb.svg') center / contain no-repeat;
            -webkit-mask: url('/assets/img/fb.svg') center / contain no-repeat;
        }

        &>.be {
            mask: url('/assets/img/be.svg') center / contain no-repeat;
            -webkit-mask: url('/assets/img/be.svg') center / contain no-repeat;
        }

        &>.git {
            mask: url('/assets/img/git.svg') center / contain no-repeat;
            -webkit-mask: url('/assets/img/git.svg') center / contain no-repeat;
        }

        &::after {
            content: "";
            @include circle(90px);
            @include gardient;
            @include rotateLeft(10s)
        }

        &::before {
            content: "";
            @include circle(110px);
            @include gardient;
            @include rotateRight(10s)
        }
    }

    @media screen and (max-width:640px) {

        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        right: inherit;
        top: -22px;
        min-width: 300px;

        &>.button {
            margin: 0px;
            width: 50px;
            height: 50px;

            &>span {
                width: 20px;
                height: 20px;
            }

            &::after {
                content: "";
                @include circle(62px);
            }

            &::before {
                content: "";
                @include circle(75px);
            }
        }

    }

    @media screen and (max-width:344px) {
        top: -24px;
        min-width: 260px;

        &>.button {
            width: 45px;
            height: 45px;

            &>span {
                width: 25px;
                height: 25px;
            }

            &::after {
                content: "";
                @include circle(57px);
            }

            &::before {
                content: "";
                @include circle(67px);
            }
        }
    }

    @media screen and (max-width:1024px) and (min-width:640px) {

        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        right: inherit;
        top: -35px;
        min-width: 400px;

        &>.button {
            margin: 0px;
            width: 70px;
            height: 70px;

            &>span {
                width: 30px;
                height: 30px;
            }

            &::after {
                content: "";
                @include circle(85px);
            }

            &::before {
                content: "";
                @include circle(100px);
            }
        }

    }

}