@import "sass/variables";

.social {
    position: absolute;
    right: -35px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    &>.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        transition: 0.5s;
        margin-bottom: 60px;
        border-radius: 100%;
        background-color: $black;
        cursor: pointer;

        &:hover {
            &>span {
                background-color: $black;
            }

            background-color: $white;
        }

        &>span {
            width: 50px;
            height: 50px;
            transition: 0.5s;
            border-radius: 100%;
            background-color: $white;
        }

        &>.ig {
            mask: url('../img/ig.svg') center / contain no-repeat;
            -webkit-mask: url('../img/ig.svg') center / contain no-repeat;
        }

        &>.fb {
            mask: url('../img/fb.svg') center / contain no-repeat;
            -webkit-mask: url('../img/fb.svg') center / contain no-repeat;
        }

        &>.be {
            mask: url('../img/be.svg') center / contain no-repeat;
            -webkit-mask: url('../img/be.svg') center / contain no-repeat;
        }

        &>.git {
            mask: url('../img/git.svg') center / contain no-repeat;
            -webkit-mask: url('../img/git.svg') center / contain no-repeat;
        }

        &::after {
            content: "";
            @include circle(90px);
            @include gardient;
            @include rotateLeft(10s)
        }

        &::before {
            content: "";
            @include circle(110px);
            @include gardient;
            @include rotateRight(10s)
        }
    }
}